@import '../style/index.scss';
@import '../../components/theme/default.scss';

.#{$APPC}-product-card {
  &-root {
    width: calc(100% - 48px);
    height: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  &-header{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 48px);
    margin-left: 24px;
    margin-bottom: 12px;
  }
  &-container{
    display: flex;
    width: 100%;
    // margin-top: 16px;
    // margin-bottom: 16px;
    // margin-left: 24px;
  }
  &-img{
    width: 200px;
    height: 300px;
  }
  &-left{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-check{
    width: 60px;
    height: 60px;
  }
  &-person{
    width: 240px;
    text-align: center;
    margin-right: 24px;
  }
  &-eye{
    &-order{
      width: calc(100% - 264px)
    }
    & view{
      margin-bottom: 4px;
    }
  }
  &-info{
    display: flex;
    align-items: center;
    & view{
      margin-right: 16px;
    }
  }
  &-btn{
    font-size: 20px;
    width: 120px;
    display: inline-block;
    margin-right: 12px;
    margin-top: 20px;
  }
}