$theme-transitions-easing-easeInOut: cubic-bezier(0.4, 0, 0.2, 1);
$theme-transitions-easing-easeOut: cubic-bezier(0.0, 0, 0.2, 1);
$theme-transitions-easing-easeIn: cubic-bezier(0.4, 0, 1, 1);
$theme-transitions-easing-sharp: cubic-bezier(0.4, 0, 0.6, 1);
$theme-transitions-duration-shortest: 150;
$theme-transitions-duration-shorter: 200;
$theme-transitions-duration-short: 250;
$theme-transitions-duration-standard: 300;
$theme-transitions-duration-complex: 375;
$theme-transitions-duration-enteringScreen: 225;
$theme-transitions-duration-leavingScreen: 195;