@import '../style/index.scss';
@import '../../components/theme/default.scss';

.#{$APPC}-personal {
  &-root {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #F4F4F4;
  }
  &-bg{
    background-color: #FFE015;
    width: 100%;
    height: 266px;
    left: 0;
    top: 0;
    position: absolute;
  }
  &-container{
    width: calc(100% - 48px);
    height: 100%;
    margin-left: 24px;
    position: absolute;
  }
  &-login{
    &::after{
      border: none;
    }
  }
  &-top{
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    height: 272px;
    background: #ffffff;
    border-radius: 15px;
    position:relative;
    &-title{
      position: absolute;
      top: 20px;
      display: flex;
      align-items: center;
      font-size: 28px;
      &-img{
        width: 36px;
        height: 36px;
        margin-left: 26px;
        margin-right: 26px;
      }
    }
  }
  &-avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 60px;
    margin-top: 20px;
  }
  &-userInfo{
    margin-left: 48px;
    font-size: 32px;
    margin-top: 20px;
  }
  &-address{
    &-root{
      margin-top: 50px;
      padding-top: 24px;
      padding-bottom: 24px;
      padding-left: 40px;
    }
    &-img{
      width: 48px;
      height: 48px;
    }
    &-container{
      width: calc(100% - 40px);
      display: flex;
      justify-content: space-between;
      &-left{
        display: flex;
        align-items: center;
      }
      &-img{
        width: 32px;
        height: 32px;
        margin-right: 24px;
      }
    }
    &-divider{
      width: calc(100% + 40px);
      height: 1px;
      background-color: #E7E7E7;
      margin-left: -40px;
      margin-top: 16px;
    }
    &-address{
      margin-top: 20px;
      &-item{
        padding-top: 20px;
        & text{
          margin-right: 20px;
        }
      }
    }
  }
  // &-order{
  //   &-root{
  //     margin-top: 24px;
  //     padding-top: 24px;
  //     padding-bottom: 24px;
  //     padding-left: 24px;
  //   }
  //   &-img{
  //     width: 48px;
  //     height: 48px;
  //   }
  //   &-container{
  //     width: calc(100% - 24px);
  //     display: flex;
  //     justify-content: space-between;
  //     &-left{
  //       display: flex;
  //       align-items: center;
  //     }
  //     &-img{
  //       width: 32px;
  //       height: 32px;
  //       margin-right: 24px;
  //     }
  //   }
  // }
  &-tip{
    margin-top: 30px;
    color: #FD7575;
    text-align: center;
  }
}